@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #07097c; 
    --hover-color: #8d89cd; 
    --text-color: #212529; 
    --bg-color: #eff0f1; 
    --title-size: 2.5rem; 
}

body {
    font-family: 'Roboto', sans-serif;
}

.lobby-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: var(--bg-color);
}

.lobby-title {
    font-size: var(--title-size);
    color: var(--text-color);
    text-align: center;
    margin-bottom: 30px;
}

.code-block-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.code-block-item {
    margin: 10px;
}

.code-block-link {
    display: block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: rgb(252, 248, 248);
    border-radius: 5px;
    text-align: center;
    width: 200px; 
    text-decoration: none;
}

.code-block-link:hover {
    background-color: var(--hover-color); 
    color: var(--text-color); 
}
